#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#encabezado{
    background-color: rgb(230,200,149);
    height: 15%;
    text-align: center;
}

#menu{
    background-color: rgb(171,161,134);
    height: 5%;
    text-align: center;
}

#seccion{
    background-color: rgb(151,158,54);
    height: 64%;
    width: 63%;
    float: left;
}

#menuAside{
    background-color: rgb(190,193,79);
    height: 64%;
    width: 35%;
    float: right;

}

#pie{
    background-color: rgb(230,200,149);
    height: 10%;
    width: 100%;
    text-align: center;
    float: left;

}

ul{
    text-align: center;
    
}

li{
    padding-left: 6px;
    padding-right: 6px;

}

img{
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

